@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Kumbh+Sans:wght@400;700&family=Montserrat:ital,wght@0,900;1,400&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: hsl(185, 75%, 39%);
}

hr{
    margin-top: 10px;
    border: 0.5px solid hsl(227, 19%, 85%);
    border-bottom: 0;
}

h3{
    padding: 0;
}

span{
    display: inline-block;
}
/*****************************************************************/
.card{
    background-color: #ffffff;
    border: 0.5px none black;
    border-radius: 10px;
    box-shadow: 0 7px 100px -10px rgba(67, 70, 72, 0.612);
    height: 400px;
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 30vh;
}
/******************************************************************/
.pattern{
    border-bottom: 0.5px solid black;
    height: 120px;
    width: 400px;
}

.pattern-svg{
    height: 120px;
    width: 400px;
    position: relative;
    left: 100px;
}
/*****************************************************************/

.profile{
    border: 0.5px none black;
    margin: 0 auto;
    text-align: center;

}

/****************************************************************/

.follow{
    height: fit-content;
    width: fit-content;
    text-align: center;
    display: inline-block;
    margin-left: 70px;
}

.likes{
    height: fit-content;
    width: fit-content;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
}

.photos{
    height: fit-content;
    width: fit-content;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
}